:root {
  --brand: crimson;
  --true-black: #000;
  --black: #292929;
  --white: #f9f9f9;
  --true-white: #fff;

  --darker-gray: #6a6f76;
  --dark-gray: #92979f;
  --gray: #bac0c9;
  --light-gray: #d7dadf;
  --lighter-gray: #e9e9ea;

  --success: #96d03a;
  --error: #ca5555;
}
