textarea { resize: vertical; }

select {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSI+PC9wb2x5bGluZT48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center right 0.5em;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.5em 0.5em;
  border: 1px solid var(--black);
  border-radius: 2px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--true-white);
  color: var(--black);
  font-family: var(--base-font);
  font-size: 1em;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;

  &:focus { border-color: var(--brand); }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.form-group { margin-bottom: 1em; }

.control-label {
  color: var(--black);
  font-size: 1em;
}

.checkbox {
  input {
    position: relative;
    top: -2px;
    margin-right: 0.5em;
  }
}

.radio-group {
  label {
    display: block;
    margin-bottom: 0.25em;
  }

  input {
    position: relative;
    top: -2px;
    margin-right: 0.5em;
  }
}

.help-block { opacity: 0.8; }

.has-error {
  opacity: 1;
  color: red;
}
